extends ./base.jade

block content
	- var storm_direction = weather.nearest_storm.bearing;
	- var sd_transform = storm_direction - 45; // The fa-location-arrow is already tilted 45 degrees

	- function timeConverter(UNIX_timestamp) {
	- 	var a = new Date(UNIX_timestamp * 1000);
	- 	var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
	- 	var year = a.getFullYear();
	- 	var month = months[a.getMonth()];
	- 	var date = a.getDate();
	- 	var hour = a.getHours();
	- 	var min = a.getMinutes() < 10 ? '0' + a.getMinutes() : a.getMinutes();
	- 	var sec = a.getSeconds() < 10 ? '0' + a.getSeconds() : a.getSeconds();
	- 	var time = hour + ':' + min + ' (' + month + ', ' + date + ')';
	- 	return time;
	- }

	if weather.alert_count > 0
		.visible-xs-block #[i.fa.fa-info-circle] Scroll the table to the side for more information.

		.panel.panel-default
			.panel-heading
				h3.panel-title Alerts

			.table-responsive
				table.table.table-striped
					thead
						tr
							th Name
							th Start time
							th Expiration
							th Description
							th More info
					tbody
						each alert, index in weather.alerts
							tr
								td= alert.title
								td= timeConverter(alert.time)
								td= timeConverter(alert.expires)
								td
									button.btn.btn-default(data-toggle='modal' data-target='#descriptionModal' data-key='#{index}') Show #[i.fa.fa-angle-down]
								td
									a(href='#{alert.uri}') External link #[i.fa.fa-external-link]

		#descriptionModal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header
						button(type='button' data-dismiss='modal' aria-label='Close').close &times;
						h4.modal-title Alert Description
						.modal-body

		script.
			$('#descriptionModal').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget);
				var index = button.data('key');

				// FIXME: Fix so more than one alert can be shown...
				$(this).find('.modal-title').text('#{weather.alerts[0].title}');
				$(this).find('.modal-body').html(!{JSON.stringify(weather.alerts[0].description.replace(/\n/g, "<br />"))});
			});
	else
		h4 #[i.fa.fa-check-circle.text-success] No alerts found
