extends ./base.jade

block content
	h3 Settings
	hr

	div.well.row
		div.col-sm-12
			h4 Look and feel
		div.col-sm-4
			form.form-inline
				div.form-group
					div.dropdown#dd-theme
						button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='true')#ddm-theme Theme
						ul.dropdown-menu(aria-labeledby='ddm-theme')
							each t in theme_list
								li(class=(t === '#{theme}' ? 'active' : ''))
									a(href='javascript:update_setting("theme", "' + t + '");')= t
		div.col-sm-2
			div.checkbox
				label
					input(type='checkbox')#navbar-color
					span  Alternate navbar color?
	div.well.row
		div.col-sm-12
			h4 API Keys
		div.col-sm-12
			table#api-key-table.table.table-bordered.table-striped
				thead
					tr
						td Service name
						td API Key
						td 
				tbody
					each source in valid_sources
						tr
							td
								if (source.source_site !== undefined && source.source_site !== '')
									a(href="#{source.source_site}")= source.name
								else
									span= source.name
							td
								input(type="text" id='#{source.api_key_name}-key' placeholder="API key" value=((api_keys !== undefined) ? api_keys[source.api_key_name] : "")).form-control
							td
								button.btn.btn-default.btn-block.key-update-btn(data-update-key='#{source.api_key_name}') Change

	script.
		$('#dd-theme li.active > a').append(' (current)');
		$('#navbar-color').prop('checked', #{navbar_inversed});

		function update_setting(key, value) {
			$.ajax({
				url: '/settings/' + key + '/' + value,
				method: 'POST'
			});

			location.reload(true);
		}
		
		$('.key-update-btn').click(function () {
			update_setting('api_keys/' + $(this).data('update-key'), $('#' + $(this).data('update-key') + '-key').val());
		});

		$('#navbar-color').change(function () {
			update_setting('navbar_inversed', !#{navbar_inversed});
		});
